<!DOCTYPE html>
<html>
    <head>
        <title>Payment QR</title>
    </head>
    <!-- Make body with blue background -->
    <body style="background-color: #30D5C8; font-family:new century schoolbook; text-align: centre;">
        <div style="text-align: center;">
            <h1 >Payment QR</h1>
            <hr>
            <h3 > Please scan the QR code to pay for your order. </h3>
            <img src="/static/images/qr.jpg" alt="QR Code" style="width:300px;height:300px;">
        </div>
        <div style="text-align: center;">
            <button type="button"><a href="/dashboard">Back to Home</a></button>
          </div>

    </body>
    
</html>
